.footer {
  text-align: center;
  padding: 1rem;
  background: var(--color-primary);
  font-size: 0.9rem;
}

.footer p {
  color: var(--color-text2) !important;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.8rem;
  }
}
