/* NAVBAR BASE */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--color-primary);
  color: var(--color-text2);
  transition: background 0.3s, color 0.3s;
  position: sticky;
  top: 0;
  z-index: 950;
}

/* LOGO */
.navbar-logo {
  font-size: 1.2rem;
  font-weight: bold;
}

/* AÇÕES (BOTÃO SAIR ETC.) */
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-actions button {
  background: var(--color-secondary);
  color: var(--color-text2);
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.navbar-actions button:hover {
  background: var(--color-secondary);
}
